:root{
    --soft-orange: #ffe8c7;
    --background-shadow: rgb(15, 73, 21, 0.5);
    --outline-shadow: rgba(110, 255, 115, 0.3);
}

.todo-search{
    width: 210px;
    padding: 8px 15px;
    position: absolute;
    top: 182px;
    left: calc(50% - 120px);
    border-radius: 20px;
    border: none;
    background-color: var(--soft-orange);
    box-shadow: 0 5px 5px var(--background-shadow);
}

.todo-search:focus{
    outline-color: var(--outline-shadow);
}